<app-navbar></app-navbar>
<h3>{{form.message}}</h3>

       <div align="center">
        <h2> Employee List</h2>
</div>
        
             <th>EmployeeName</th> 
              <td>  <input type="text" [(ngModel)]="form.searchParam.employeename" placeholder="search employeename"/> </td>
            
                
                <th>EmployeeId</th>
             <td>  <input type="text" [(ngModel)]="form.searchParam.employeeid" placeholder="search employeeid"/> </td>
              

             <th>EmployeeWork</th>
             <td>  <input type="text" [(ngModel)]="form.searchParam.employeework" placeholder="search employeework"/> </td>



            <th>Employeesalery</th>
            <td>  <input type="text" [(ngModel)]="form.searchParam.employeesalery" placeholder="search employeesalery"/> </td>
           <td> <button (click)="search()">Search</button></td>

 


            <form>
        <table border="2" width="100%" cellpadding=6px cellspacing=".2">
            <tr>
                <th>employeename</th>
                <th>employeeid</th>
                <th>employeework</th>
                <th>employeesalery</th>
                <th>EDIT</th>
                <th>DELETE</th>
            </tr>

            <tr *ngFor="let m of form.list">

                <td>{{m.employeename}}</td>
                <td>{{m.employeeid}}</td>
                <td>{{m.employeework}}</td>
                <td>{{m.employeesalery}}</td>
                

                <td><button (click)="forward('/employee/' +m.id)">Edit</button></td>
                <td><button (click)="delete(m.id)">Delete</button></td>
            </tr>

        </table>
    </form>

<app-footer></app-footer>